<!DOCTYPE html>
     <html>
         <head>
              <title>Learningoftext</title>
         </head>
         <body>
             <p>This is from template for practice</p>
             <h4>Please Enter text below</h4>
             <form action="./removepunc" method="get">
               <textarea name="text" style="margin:0px; width:1024px; height: 93px; "></textarea><br><br>
               <input type="checkbox" name="removedpunct">Remove Punctuation<br><br>
               <button type="submit">Analyze Text</button>
             </form>
         </body>
     </html>